fastapi

#LLM Orchestration
langgraph
langchain
langchain-openai
langchain-anthropic
langchain-community
langchain-core

#RAG
langchain-chroma
langchain-huggingface
sentence-transformers
rank-bm25
datasets


#Web Search
exa-py

#Voice (ElevenLabs)
elevenlabs

#Utilities
python-dotenv
httpx
tenacity
numpy
loguru
python-multipart